{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}Home{% endblock %}
</head>
{% block content %}
<body>
   <form method="POST">
    {% csrf_token %}
    {{ form.reply }}
    <button type="submit">Reply</button>
   </form>

</body>
{% endblock %}
</html>

{% block javascripts %}
<script>
    var d = document.getElementById("feedback-nav");
    d.className += " active";
</script>
{% endblock %}
