{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Customer's Order{% endblock %}
</head>
{% block content %}
<body>
    {% for order in orders %}
        {% if order.status == "ordered" or order.status == "Confirmed: Preparing your order" or order.status == "Ready to serve" or order.status == "Received"%}
    <br>
        {% if order.order.image %}
        <a href="{{ order.order.image.url }}">
            <img src="{{ order.order.image.url }}" style="width: 50px; height: 50px;" alt="img">
        </a>
        {% endif %}
    <br>
        Product Name: {{ order.order.product_name }}
    <br>
        Description: {{ order.order.description }}
    <br>
        Price: {{ order.order.price }}
    <br>
        Quantity: {{ order.quantity }}
    <br>
        Status: {{ order.status }}
    <br>
        {% if order.status == "Confirmed: Preparing your order" %}
            <button><a href="{% url 'serve_order' order.id %}">Serve order</a></button>
        {% elif order.status == "ordered" %}
            <button><a href="{% url 'confirm_order' order.id %}">Confirm order</a></button>
        {% endif %}

    <hr>
        {% endif %}
    {% endfor %}
</body>
{% endblock %}
</html>

{% block javascripts %}
<script>
    var d = document.getElementById("view_order-nav");
    d.className += " active";
</script>
{% endblock %}
