{% extends 'login_and_register/regbase.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} 
Customer
{% endblock %}

{% block style %}
<style>
    .formContainer {
        box-shadow: 4px 8px 16px #d7d7d7;
        margin: 15vh auto;
        padding: 20px;
        border-radius: 0px 0px 4px 4px;
    }

    input {
        box-shadow: none !important;
        outline: none;
    }

    #formHeading {
        background: #6391cd;
        margin: -20px -20px 0px -20px;
        border-radius: 4px 4px 0px 0px
    }

    .loginWithIcon {
        font-size: 14px;
        height: 32px;
        width: 32px;
        background: #6391cd;
        margin: 8px;
        line-height: 32px;
        display: inline-block;
        border-radius: 32px;
        text-align: center;
        color: #fff
    }

    #loginWithPanel {
        background: #d8e8fd;
        margin: auto -20px;
    }

    label {
        display: none;
    }
</style>
{% endblock %}



{% block content %}

<div class="p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-lg-3 mx-auto">
                <div class="formContainer">
                    <h2 class="p-2 text-center text-white h4" id="formHeading">WELCOME</h2>
                    <div class="py-2 mb-4 text-center" id="loginWithPanel">
                        <span class="login100-form-title p-b-49">Please Register Your Name And Table Number</span>
                    </div>
                    <form class="login100-form validate-form" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group mt-3 " >
                            {{ form.name | as_crispy_field }}
                        </div>
                        <div class="form-group mt-3">
                            {{ form.table_number | as_crispy_field }}
                        </div>
                        
                        <button class="btn btn-outline-primary btn-lg w-100 mt-4" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
