{% extends 'cus_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} Add to cart {% endblock %}

{% block content %}

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
     navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">

                <a href="{% url 'customer_home' customer.slug %}">
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                        <i class="fa fa-home me-1"> Restaurant Ordering System</i>
                    </li>
                </a>
            </ol>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group">
                </div>
            </div>

            <ul class="navbar-nav  justify-content-end">

                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'my_order' customer.slug %}"
                       class="nav-link text-body font-weight-bold px-0 active">
                        <i class="fa fa-shopping-bag me-sm-1"></i>
                    </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'customer_cart' customer.slug %}"
                       class="nav-link text-body font-weight-bold px-0 active">
                        <i class="fa fa-shopping-cart me-sm-1"></i>
                    </a>
                </li>

                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'customer' %}" class="nav-link text-body font-weight-bold px-0 active">
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <span class="d-sm-inline d-none"> END ORDER</span>
                <i class="fa fa-sign-out me-sm-1"></i>
                </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <li class="nav-item pe-2 d-flex align-items-center">
                    <label for="theme-switch" class="nav-link text-body p-0 m-0">
                        <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
                    </label>
                    <input type="checkbox" class="d-none" id="theme-switch" />
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <!--Header title-->
                    <div class="row">

                        <div class="col-10">
                            <h2>Add to cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <a href="{% url 'customer_home' customer.slug %}" style="text-decoration: none; color: rgb(0, 0, 0);"><i
           class="fa fa-arrow-left me-sm-1"> Back</i></a>
    <br>
    <br>
    <div class="row">
        <div class="col-10">
            <div class="d-flex">
                {% if product.image %}
                <a href="{{ product.image.url }}">
                    <img src="{{ product.image.url }}" class="img-thumbnail" style="width: 250px; height: 200px;"
                         alt="img">
                </a>
                {% endif %}
                <div class="container-fluid">
                    <h5 class="fw-bold">{{ product.product_name}}</h5>
                    <small class="text-muted">{{ product.description }}</small>
                    <p>₱ {{ product.price }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div>
            <div class="">
                <input class="form-check-input" type="radio" name="to_di" id="flexRadioDefault1" value="True" required>
                <label class="form-check-label" for="flexRadioDefault1">
                    Take Out
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="radio" name="to_di" id="flexRadioDefault2" value="False" required>
                <label class="form-check-label" for="flexRadioDefault2">
                    Dine In
                </label>
            </div>

            <input type="number" name="quantity" class="form-control" placeholder="Quantity" required>
            <br>
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </form>
</div>

{% endblock %}
