{% extends 'cus_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %} Edit cart {% endblock %}
</head>
{% block content %}


<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
     navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <a href="{% url 'customer_home' in_cart.customer.slug %}">
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                        <i class="fa fa-home me-1"> Restaurant Ordering System</i>
                    </li>
                </a>
                </a>
            </ol>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group">
                </div>
            </div>

            <ul class="navbar-nav  justify-content-end">

                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'my_order' in_cart.customer.slug %}"
                       class="nav-link text-body font-weight-bold px-0 active">
                        <i class="fa fa-shopping-bag me-sm-1"></i>
                    </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'customer_cart' in_cart.customer.slug %}"
                       class="nav-link text-body font-weight-bold px-0 active">
                        <i class="fa fa-shopping-cart me-sm-1"></i>
                    </a>
                </li>

                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'customer' %}" class="nav-link text-body font-weight-bold px-0 active">
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <span class="d-sm-inline d-none"> END ORDER</span>
                <i class="fa fa-sign-out me-sm-1"></i>
                </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <li class="nav-item pe-2 d-flex align-items-center">
                    <label for="theme-switch" class="nav-link text-body p-0 m-0">
                        <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
                    </label>
                    <input type="checkbox" class="d-none" id="theme-switch" />
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <!--Header title-->
                    <div class="row">

                        <div class="col-10">
                            <h2>Edit Order</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    <a href="{% url 'customer_cart' in_cart.customer.slug %}" style="text-decoration: none; color: rgb(0, 0, 0);"><i
           class="fa fa-arrow-left me-sm-1"> Back</i></a>
    <br>
    <br>

    <div class="card" style="width: 20rem;">
        {% if in_cart.order.image %}
        <a href="{{ in_cart.order.image.url }}">
            <img src="{{ in_cart.order.image.url }}" class="card-img-top" alt="img">
        </a>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ in_cart.order.product_name}}</h5>
            <small>{{ in_cart.order.description }}</small>
            <p class="card-text">₱ {{ in_cart.order.price }}</p>

            <form method="POST">
                {% csrf_token %}
                <div class="">
                    <input class="form-check-input" type="radio" name="to_di" id="flexRadioDefault1"
                           {% if in_cart.to_di == "True" %} checked {% endif %} value="True" required>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Take Out
                    </label>
                </div>
                <div class="">
                    <input class="form-check-input" type="radio" name="to_di" id="flexRadioDefault2"
                           {% if in_cart.to_di == "False" %} checked {% endif %} value="False" required>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Dine In
                    </label>
                </div>
                <input type="number" value="{{ in_cart.quantity}}" name="quantity" class="form-control">
                <br>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
