<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Customer's name</th>
                <th scope="col">Product name</th>
                <th scope="col">Feedback</th>
                <th scope="col">Feedback reply</th>
            </tr>
        </thead>
        {% for feed in feedback %}
        <tbody>
            <tr>
                <td>{{ feed.cus }}</td>
                <td>{{ feed.ord.order }}</td>
                <td>{{ feed.feedback }}</td>
                <td>{{ feed.reply }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <button><a href="{% url 'my_order' customer.slug %}">Back</a></button>

</body>
</html>