{% extends 'cus_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Orders {% endblock %}

{% block content %}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
     navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <a href="{% url 'customer_home' customer.slug %}">
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                        <i class="fa fa-home me-1"> Restaurant Ordering System</i>
                    </li>
                </a>
            </ol>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                <div class="input-group">
                </div>
            </div>

            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'feedback_cusview' customer.slug %}"
                       class="nav-link text-body font-weight-bold px-0 active">
                        <i class="fa fa-comments me-sm-1"></i>
                    </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'my_order' customer.slug %}"
                       class="nav-link text-body font-weight-bold px-0 active">
                        <i class="fa fa-shopping-bag me-sm-1"></i>
                    </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'customer_cart' customer.slug %}"
                       class="nav-link text-body font-weight-bold px-0 active">
                        <i class="fa fa-shopping-cart me-sm-1"></i>
                    </a>
                </li>

                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'customer' %}" class="nav-link text-body font-weight-bold px-0 active">
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <span class="d-sm-inline d-none"> END ORDER</span>
                <i class="fa fa-sign-out me-sm-1"></i>
                </a>
                <li class="nav-item px-3 d-flex align-items-center"></li>
                <li class="nav-item pe-2 d-flex align-items-center">
                    <label for="theme-switch" class="nav-link text-body p-0 m-0">
                        <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
                    </label>
                    <input type="checkbox" class="d-none" id="theme-switch" />
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <!--Header title-->
                    <div class="row">

                        <div class="col-10">
                            <h2>My Orders</h2>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container">
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container">
    <a href="{% url 'customer_home' customer.slug %}" style="text-decoration: none; color: rgb(0, 0, 0);"><i
           class="fa fa-arrow-left me-sm-1"> Back</i></a>
</div>
<br>

{% for order in orders %}
{% if order.status == "ordered" or order.status == "Confirmed: Preparing your order" or order.status == "Ready to serve" or order.status == "Received" %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="d-flex">
                {% if order.order.image %}
                <a href="{{ order.order.image.url }}">
                    <img src="{{ order.order.image.url }}" class="img-thumbnail" style="width: 250px; height: 200px;"
                         alt="img">
                </a>
                {% endif %}
                <div class="container-fluid">
                    <h5 class="fw-bold">{{ order.order.product_name }}</h5>
                    <small class="text-muted">{{ order.order.description }}</small>
                    <p>₱ {{ order.order.price }}</p>
                    <small class="text-muted">Quantity: {{ order.quantity }}</small><br>
                    <small class="text-muted"><strong>{{ order.to_di }}</strong></small>
                    <p>Status: {{ order.status }}</p>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        {% if order.status == "Confirmed: Preparing your order" or order.status == "ordered" %}
        <button disabled class="btn btn-success" style="color: gray;">Order received</button>
        {% elif order.status == "Ready to serve" %}
        <button class="btn btn-success"><a href="{% url 'received' order.id %}"
               style="text-decoration: none; color: white;">Order received</a></button>
        {% else %}
        <button disabled class="btn btn-success" style="color: gray;">Received</button>
        <br>
        <button class="btn btn-primary"><a href="{% url 'feedback' order.id %}"
               style="text-decoration: none; color: white;">Feedback</a></button>
        {% endif %}
    </div>
    <hr>
</div>
{% endif %}
{% endfor %}
{% endblock %}
