{% extends 'login_and_register/regbase.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block style %}
<style>
.formContainer {
  box-shadow : 4px 8px 16px #d7d7d7;
  margin:15vh auto;
  padding:20px;
  border-radius:0px 0px 4px 4px;
}
input {
  box-shadow:none !important;
  outline:none;
}
#formHeading {
  background:#6391cd;
  margin:-20px -20px 0px -20px;
  border-radius:4px 4px 0px 0px
}
.loginWithIcon {
  font-size:14px;
  height:32px;
  width:32px;
  background:#6391cd;
  margin:8px;
  line-height:32px;
  display:inline-block;
  border-radius:32px;
  text-align:center;
  color:#fff
}
#loginWithPanel {
  background:#d8e8fd;
  margin:auto -20px;
}
label {
display: none;
}

</style>
{% endblock %}



{% block content %}
    <!-- <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" method="POST">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-49">
						Login
					</span>
                    {% if form.non_field_errors %}
                         <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
                        {{ form.username | as_crispy_field }}
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        {{ form.password | as_crispy_field }}
                    </div>
                    <div class="text-right p-t-8 p-b-31">
                        <a href="">
                            Forgot password?
                        </a>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                    <div class="flex-col-c p-t-155">
                        <a href="{% url 'register' %}" class="txt2">
                            Click here to Register Instead
                        </a>
                        <a href="/admin/">Click Here for admin</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div> -->
<div class="p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-lg-3 mx-auto">
                <div class="formContainer">
                    <h2 class="p-2 text-center text-white h4" id="formHeading">WELCOME</h2>
                    <div class="py-2 mb-4 text-center" id="loginWithPanel">
                        <span class="login100-form-title p-b-49">Please Enter Your Username And Password</span>
                    </div>
                    <form class="login100-form validate-form" method="POST">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                        <div class="form-group mt-3 " data-validate="Username is required">
                            <input type="text" class="form-control" name="username" placeholder="Username"/>
                        </div>
                        <div class="form-group mt-3" data-validate="Password is required">
                            <input type="password" class="form-control" name="password" placeholder="Password" />
                        </div>
                        <div class="mt-3">
                            <input type="checkbox" /> Remember me
                        </div>
                        <button class="btn btn-outline-primary btn-lg w-100 mt-4" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
